In [1]:
import sqlite3

In [2]:
db=sqlite3.connect("student_database.db")

In [3]:
cur=db.cursor()

In [4]:
results=cur.execute("select * from student")
for row in results:
    print(row)

(1, 'john', 90)
(2, 'teena', 100)
(3, 'andrew', 110)
(4, 'dor', 45)
(5, 'surt', 55)
(6, 'andy', 111)
(7, 'derr', 65)
(8, 'andy', 111)
(9, 'tee', 101)
(10, 'lia', 56)
(11, 'dia', 89)