In [1]:
import sqlite3

In [2]:
db=sqlite3.connect("student_course_database9.db")

In [6]:
cur=db.cursor()

In [7]:
cur.execute("create table course(courseid int primary key,coursename text,duration int)")

OperationalError: table course already exists

In [9]:
cur.execute("create table student(roll_no int primary key,studentname text,age int,courseid int,foreign key(courseid) references course(courseid))")

OperationalError: table student already exists

In [10]:
cur.execute("insert into course values(1,'DS',12),(2,'fs',06),(3,'java',9)")

In [11]:
print (cur.rowcount,"Record(s) inserted")

3 Record(s) inserted

In [12]:
cur.execute("insert into student values(1,'jac',12,1),(2,'fui',06,2),(3,'jam',9,3)")

In [13]:
results=cur.execute("select * from student")
results.fetchall()

[(1, 'jac', 12, 1), (2, 'fui', 6, 2), (3, 'jam', 9, 3)]

In [14]:
results=cur.execute("select * from course")
results.fetchall()

[(1, 'DS', 12), (2, 'fs', 6), (3, 'java', 9)]

In [15]:
results=cur.execute("select courseid from course where coursename='DS'")
results.fetchall()

[(1,)]

In [16]:
results=cur.execute('select * from student where courseid=(select courseid from course where coursename="DS")')
results.fetchall()

[(1, 'jac', 12, 1)]

In [17]:
results=cur.execute('select * from student where courseid=(select courseid from course where coursename="java")')
results.fetchall()

[(3, 'jam', 9, 3)]

inner join

In [30]:
sql=("SELECT student.roll_no,student.studentname,course.courseid,course.coursename FROM student INNER JOIN course ON student.courseid=course.courseid")
results=cur.execute(sql)
for row in results:
    print(row)

(1, 'jac', 1, 'DS')
(2, 'fui', 2, 'fs')
(3, 'jam', 3, 'java')

In [31]:
sql=("SELECT student.roll_no,student.studentname,course.courseid,course.coursename FROM student LEFT JOIN course ON student.courseid=course.courseid")
results=cur.execute(sql)
for row in results:
    print(row)

(1, 'jac', 1, 'DS')
(2, 'fui', 2, 'fs')
(3, 'jam', 3, 'java')

In [32]:
sql=("SELECT student.roll_no,student.studentname,course.courseid,course.coursename FROM student RIGHT JOIN course ON student.courseid=course.courseid")
results=cur.execute(sql)
for row in results:
    print(row)

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [33]:
sql=("SELECT student.roll_no,student.studentname,course.courseid,course.coursename FROM student FULL join course ON student.courseid=course.courseid")
results=cur.execute(sql)
for row in results:
    print(row)

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported