In [1]:
import sqlite3

In [2]:
db=sqlite3.connect("student_database.db")

In [3]:
cur=db.cursor()

In [4]:
results=cur.execute("select * from student")
for row in results:
    print(row)

(1, 'john', 90)
(2, 'teena', 100)
(3, 'andrew', 110)
(4, 'dor', 45)
(5, 'surt', 55)

In [5]:
cur.execute("insert into student values (9,'kia',23),(10,'abj',93),(11,'tam',88)")
db.commit()
print (cur.rowcount,"Record(s) inserted")

3 Record(s) inserted

In [6]:
results=cur.execute("select * from student")
for row in results:
    print(row)

(1, 'john', 90)
(2, 'teena', 100)
(3, 'andrew', 110)
(4, 'dor', 45)
(5, 'surt', 55)
(9, 'kia', 23)
(10, 'abj', 93)
(11, 'tam', 88)

data base will be created at given location

In [7]:
db1=sqlite3.connect("C:\my sqlite_database/studentdb.db")

In [8]:
cur1=db1.cursor()

In [29]:
cur1.execute("create table employee(id int,name text,age int)")

OperationalError: table employee already exists

In [9]:
cur1.execute("insert into employee values(1,'Melina',32)")
db1.commit()

OperationalError: table employee has 4 columns but 3 values were supplied