inserting csv

inserting csv

In [89]:
import sqlite3

In [100]:
db=sqlite3.connect("stdmarks.db")

In [101]:
cur=db.cursor()

In [102]:
cur.execute("create table scores(gender TEXT,student_id INT primary key,marks int)")

In [106]:
with open('stdmarks.csv','r') as file:
    total_records=0
    for row in file:
        cur.execute("insert into scores values(?,?,?)",row.split(","))
        db.commit()
        total_records+=1
print(total_records,'Records inserted')

12 Records inserted

In [107]:
results=cur.execute("select * from scores")
for row in results:
    print(row)

('m', 1, 30)
('f', 2, 36)
('f', 3, 45)
('f', 4, 65)
('m', 5, 34)
('m', 6, 90)
('m', 7, 42)
('m', 8, 56)
('m', 9, 48)
('f', 10, 34)
('m', 11, 78)
('f', 12, 75)

In [153]:
results=cur.execute("select min(marks)from scores")
for i in results:
    print(i)

OperationalError: no such table: scores

In [119]:
results=cur.execute("select max(marks)from scores")
for i in results:
    print(i)

(90,)

In [121]:
results=cur.execute("select * from scores where marks is not null")
for i in results:
    print(i)

('m', 1, 30)
('f', 2, 36)
('f', 3, 45)
('f', 4, 65)
('m', 5, 34)
('m', 6, 90)
('m', 7, 42)
('m', 8, 56)
('m', 9, 48)
('f', 10, 34)
('m', 11, 78)
('f', 12, 75)

In [158]:
import sqlite3

In [159]:
db=sqlite3.connect("sport final.db")
cur=db.cursor()

In [160]:
cur.execute("create table sport(id int primary key,sportname text unique, dateofevent date,country text not null)")

In [161]:
db.commit()

In [162]:
cur.execute("insert into sport values(1,'crick','2021-10-4','India')")

In [165]:
results=cur.execute("select * from sport final")
for row in results:
    print(row)

(1, 'crick', '2021-10-4', 'India')

In [172]:
cur.execute("insert into sport values(2,'ten','2021-6-3','AUs'),(3,'hoc','2021-6-31','eng'),(4,'foot','2022-6-3','ban')")
db.commit()
print (cur.rowcount,"Record(s) inserted")

3 Record(s) inserted

In [173]:
results=cur.execute("select * from sport final")
for row in results:
    print(row)

(1, 'crick', '2021-10-4', 'India')
(2, 'ten', '2021-6-3', 'AUs')
(3, 'hoc', '2021-6-31', 'eng')
(4, 'foot', '2022-6-3', 'ban')

In [8]:
import sqlite3
con=sqlite3.connect("Emply1.db")

In [9]:
def sql_table(con):
    cur=con.cursor()
    cur.execute("create table Emply1(id int primary key,name text,salary real,dept text,position text,hiredate text)")
    con.commit()

In [10]:
sql_table(con)

In [11]:
cur=con.cursor()
cur.execute("insert into Emply1 values(1,'jac',245,'ec','hod','2-02-21')")

In [12]:
con.commit()
print (cur.rowcount,"Record(s) inserted")

1 Record(s) inserted

In [13]:
con.commit;

In [14]:
results=cur.execute("select * from emply1")
for row in results:
    print(row)

(1, 'jac', 245.0, 'ec', 'hod', '2-02-21')

In [26]:
def sql_insert(con,entities):
    cur=con.cursor()
    cur.execute('insert into emply1(id,name,salary,dept,position,hiredate)values(?,?,?,?,?,?)',entities)

In [27]:
entities=(2,'mac',24,'rc','hd','2-3-21')

In [28]:
sql_insert(con,entities)

In [29]:
entities=(3,'mhc',28,'rpc','yhd','2-1-21')

In [30]:
sql_insert(con,entities)

In [32]:
results=cur.execute("select * from emply1")
results.fetchall()

[(1, 'jac', 245.0, 'ec', 'hod', '2-02-21'),
 (2, 'mac', 24.0, 'rc', 'hd', '2-3-21'),
 (3, 'mhc', 28.0, 'rpc', 'yhd', '2-1-21')]

In [42]:
def sql_update(con):
    cur=con.cursor()
    cur.execute('update emply1 set name="mart" where id=1')
    con.commit()

In [43]:
sql_update(con)

In [44]:
results=cur.execute("select * from emply1")
results.fetchall()

[(1, 'mart', 245.0, 'ec', 'hod', '2-02-21'),
 (2, 'mac', 24.0, 'rc', 'hd', '2-3-21'),
 (3, 'mhc', 28.0, 'rpc', 'yhd', '2-1-21')]