In [5]:
import sqlite3

In [6]:
db=sqlite3.connect("student_database.db")

In [7]:
cur=db.cursor()

In [8]:
results=cur.execute("select * from student")

In [9]:
for row in results:
    print(row)

(1, 'john', 90)
(2, 'teena', 100)
(3, 'andrew', 110)
(4, 'dor', 45)
(5, 'surt', 55)
(9, 'kia', 23)
(10, 'abj', 93)
(11, 'tam', 88)

In [10]:
cur.execute("insert into student values(10,'lia',56),(11,'dia',89)")
db.commit()
print(cur.rowcount,"record(s) inserted")

IntegrityError: UNIQUE constraint failed: student.id

In [7]:
results=cur.execute("select * from student")
for row in results:
    print(row)

(1, 'john', 90)
(2, 'teena', 100)
(3, 'andrew', 110)
(4, 'dor', 45)
(5, 'surt', 55)
(9, 'kia', 23)
(10, 'abj', 93)
(11, 'tam', 88)

database will be created in given location

In [3]:
db1=sqlite3.connect("C:\my sqlite_database\STUDENTDB1.txt")

OperationalError: unable to open database file

In [9]:
cur1=db1.cursor()

In [10]:
cur1.execute("create table employee(id int,name text,age int)")

OperationalError: table employee already exists

In [11]:
cur1.execute("insert into employee values(1,'mel',32)")
db1.commit()

In [12]:
print(cur1.rowcount,"records inserted")

1 records inserted

In [13]:
results=cur1.execute("select * from employee")

In [14]:
for i in results:
    print(i)

(1, 'mel', 32)
(1, 'mel', 32)
(1, 'mel', 32)
(1, 'mel', 32)
(1, 'mel', 32)
(1, 'mel', 32)
(1, 'mel', 32)
(1, 'mel', 32)

In [15]:
db=sqlite3.connect("student_database.db")

In [16]:
cur=db.cursor()

In [17]:
results=cur.execute("select * from student")

In [18]:
for row in results:
    print(row)

(1, 'john', 90)
(2, 'teena', 100)
(3, 'andrew', 110)
(4, 'dor', 45)
(5, 'surt', 55)
(9, 'kia', 23)
(10, 'abj', 93)
(11, 'tam', 88)

In [19]:
results=cur.execute("select id,name from student")
for i in results:
    print(i)

(1, 'john')
(2, 'teena')
(3, 'andrew')
(4, 'dor')
(5, 'surt')
(9, 'kia')
(10, 'abj')
(11, 'tam')

In [20]:
results=cur.execute("select id,marks from student")
for i in results:
    print(i)

(1, 90)
(2, 100)
(3, 110)
(4, 45)
(5, 55)
(9, 23)
(10, 93)
(11, 88)

In [21]:
results=cur.execute("select * from student where id=1")
for i in results:
    print(i)

(1, 'john', 90)

In [22]:
results=cur.execute("select * from student where id=2")
for i in results:
    print(i)

(2, 'teena', 100)

In [52]:
results=cur.execute("select * from student where name='john'")
for i in results:
    print(i)

(1, 'john', 90)

In [53]:
results=cur.execute("select marks from student where name='john'")
for i in results:
    print(i)

(90,)

In [54]:
results=cur.execute("select * from student limit 3")
for i in results:
    print(i)

(1, 'john', 90)
(2, 'teena', 100)
(3, 'andrew', 110)

In [55]:
results=cur.execute("select * from student where marks>60 and marks <90")
for i in results:
    print(i)

(7, 'derr', 65)
(11, 'dia', 89)

In [56]:
results=cur.execute("select * from student where marks>40 and marks <60")
for i in results:
    print(i)

(4, 'dor', 45)
(5, 'surt', 55)
(10, 'lia', 56)

In [16]:
results=cur.execute("select * from student")
results.fetchall()

[(1, 'john', 90),
 (2, 'teena', 100),
 (3, 'andrew', 110),
 (4, 'dor', 45),
 (5, 'surt', 55),
 (9, 'kia', 23),
 (10, 'abj', 93),
 (11, 'tam', 88)]

In [17]:
results=cur.execute("select * from student order by name asc")
for i in results:
    print(i)

(10, 'abj', 93)
(3, 'andrew', 110)
(4, 'dor', 45)
(1, 'john', 90)
(9, 'kia', 23)
(5, 'surt', 55)
(11, 'tam', 88)
(2, 'teena', 100)

In [23]:
results=cur.execute("select * from student order by name desc")
for i in results:
    print(i)

(2, 'teena', 100)
(11, 'tam', 88)
(5, 'surt', 55)
(9, 'kia', 23)
(1, 'john', 90)
(4, 'dor', 45)
(3, 'andrew', 110)
(10, 'abj', 93)

In [71]:
results=cur.execute("select * from student where name='dor'and marks=45")
for i in results:
    print(i)

(4, 'dor', 45)

In [72]:
results=cur.execute("select * from student where name='dor'and marks=55")
for i in results:
    print(i)

In [76]:
results=cur.execute("select * from student where id=2 and marks=100")
for i in results:
    print(i)

(2, 'teena', 100)

In [78]:
results=cur.execute("select min (marks)from student ")
for i in results:
    print(i)

(45,)

In [80]:
results=cur.execute("select max (marks)from student ")
results.fetchone()

(111,)

In [81]:
results=cur.execute("select avg(marks)from student ")
results.fetchone()

(84.81818181818181,)

In [82]:
results=cur.execute("select sum(marks)from student ")
results.fetchone()

(933,)

In [84]:
results=cur.execute("select count(id)from student ")
results.fetchone()

(11,)

In [85]:
results=cur.execute("select * from student where marks between 65 and 85")
for i in results:
    print(i)

(7, 'derr', 65)