In [1]:
class person:
    def __init__(self,id,name):
        self.id=id
        self.name=name
    
    def display(self):
        print("id=",self.id,"name",self.name)
p1=person(11,"sam")
p1.display()
p2=person(12,"man")
p2.display()

id= 11 name sam
id= 12 name man

In [2]:
class student:
    
    def __init__(self,name,age):
        self.name=name
        self.age=age

In [3]:
s1=student("sam",25)
print(s1.name)
print(s1.age)
s2=student("andrew",30)
print(s2.name)
print(s2.age)

sam
25
andrew
30

In [4]:
class Employee:
    def __init__(self,name,age,id,salary):
        self.name=name
        self.age=age
        self.id=id
        self.salary=salary
        
        
    def display(self):
            print("inside display function")
            print(self.name,self.age,self.id,self.salary)

In [5]:
emp1=Employee("john",26,888,4566)
emp2=Employee("andrew",32,777,4489)
emp1.display()
emp2.display()

inside display function
john 26 888 4566
inside display function
andrew 32 777 4489

In [6]:
class Company:
    revenue=223523
    
    def __init__(self,name,location,number__of__employees):
        self.name=name
        self.location=location
        self.number__of__employees=number__of__employees

In [7]:
C=Company("apple","america",500)
print(C.name)
print(C.location)
print(C.number__of__employees)
Company.revenue

apple
america
500

223523

In [8]:
class Car:
    def __init__(self,company,color):
        self.company=company
        self.color=color
    def display(self):
            print("this is a",self.color,self.company)

In [40]:
def main():
    C=Car("ferrari","red")
    C.display()

In [46]:
if __name__=="__main__":
    main()

this is a red ferrari

In [57]:
class Employee:
    
        def __init__(self,name,age):  
            print("initialization method called")
            self.name=name
            self.age=age

        def getdata(self,name,age):
            print("getdata method called")
            self.name=name
            self.age=age
            
        def displaydata(self):
            print("hello",self.name,self.age)

In [77]:
def main():
    
    e=Employee("asda",55)
    e.displaydata()
    
    e.getdata("ggh",45)
    e.displaydata()

In [80]:
if __name__=="__main__":   
    main()

initialization method called
hello asda 55
get data method called
hello ggh 45

In [136]:
class Player:


    def __init__(self,name,age,sport):  
            print("initialized data for players")
            self.name=name
            self.age=age
            self.sport=sport

    def getdata(self,name,age,sport):
            print("getdata for players")
            self.name=name
            self.age=age
            self.sport=sport
            
    def displaydata(self):
            print("player details",self.name,self.age,self.sport)

def main():
    p1=Player("v",22,"cricket")
    p1.displaydata()
    
    p1.getdata("r",58,"tennis")
    p1.displaydata()
    
    p2=Player("b",25,"cricket")
    p2.displaydata() 
    
    p2.getdata("d",98,"tennis")
    p2.displaydata()
        
        
        
        
if __name__=="__main__":
    main()

initialized data for players
player details v 22 cricket
getdata for players
player details r 58 tennis
initialized data for players
player details b 25 cricket
getdata for players
player details d 98 tennis