In [1]:
import sqlite3

In [2]:
db=sqlite3.connect("student_database.db")

In [3]:
cur=db.cursor()

In [4]:
results=cur.execute("select * from student")

In [5]:
for row in results:
    print(row)

(1, 'john', 90)
(2, 'teena', 100)
(3, 'andrew', 110)
(4, 'dor', 45)
(5, 'surt', 55)
(9, 'kia', 23)
(10, 'abj', 93)
(11, 'tam', 88)